.App {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

li span {
  cursor: pointer;
  margin-right: 20px;
}
